.control_plate {
    float: right;
    width: 110px;
    overflow: auto;
}

.marks {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    width: 100%;
}

.plate {
    padding: 3px 2px 3px 2px;
    margin-right: 4px;
    border-radius: 2px;
    color: #444;
}

.plate.download {
    background-color: #EFEFDB;
}

.plate.type1 {
    background-color: #f2e8c9;
}
.plate.type1::after{
    content: 'Подписка';
}

.plate.type2 {
    background-color: #B58290;
}
.plate.type2::after{
    content: 'Рекомендовано';
}

.plate.type3 {
    background-color: #E8F2DC;
}
.plate.type3::after{
    content: 'Прочитано';
}

.plate.type4 {
    background-color: #F0BCBA;
}
.plate.type4::after{
    content: 'Не читать';
}

.plate.type5 {
    background-color: #E4EBF1;
}
.plate.type5::after{
    content: "Прочитать позже";
}

.plate.type6 {
    background-color: #FAEAD8;
}
.plate.type6::after{
    content: 'Жду окончания';
}

.plate.type7 {
    background-color: #cee381;
}
.plate.type7::after{
    content: 'Понравилось';
}

.plate.type8 {
    background-color: #EDE5F0;
}
.plate.type8::after{
    content: 'Не понравилось';
}

.plate.type9 {
    background-color: #FFE076;
}
.plate.type9::after{
    content: 'Скачано';
}

.plate.typea {
    background-color: #CCFFCC;
}
.plate.typea::after{
    content: 'Заметка';
}

.plate.typeb {
    background-color: #bdbdf2;
}
.plate.typeb::after{
    content: 'В коллекции';
}