.control_panel {
    width: 135px;
}

.control_panel:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 0 0 rgba(0,0,0,0);
}

.control-panel-cell {
    vertical-align: top;
}

.plate.download::after {
    content: 'Добавить в...';
}

.marks-list {
    all: initial;

    list-style: none;
    margin: 0;
    padding: 0;
}

.marks-all {
    display: none;
    position: absolute;
    width: inherit;
    z-index: 9999;
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0.23);
}

.control_panel:hover .marks-all {
    display: block;
}

.marks-selected > .plate {
    display: none;
}

.marks-selected > .selected {
    display: block;
}

.plate {
    all: initial;

    display: block;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    color: #444;
    background-color: #fcfce8;
}

.plate:hover {
  background-color: #efefdb;
}

.type1.selected {
    background-color: #f2e8c9;
}
.type1::after{
    content: 'Подписка';
}

.type2.selected {
    background-color: #B58290;
}
.type2::after{
    content: 'Рекомендовано';
}

.type3.selected {
    background-color: #E8F2DC;
}
.type3::after{
    content: 'Прочитано';
}

.type4.selected {
    background-color: #F0BCBA;
}
.type4::after{
    content: 'Не читать';
}

.type5.selected {
    background-color: #E4EBF1;
}
.type5::after{
    content: "Прочитать позже";
}

.type6.selected {
    background-color: #FAEAD8;
}
.type6::after{
    content: 'Жду окончания';
}

.type7.selected {
    background-color: #cee381;
}
.type7::after{
    content: 'Понравилось';
}

.type8.selected {
    background-color: #EDE5F0;
}
.type8::after{
    content: 'Не понравилось';
}

.type9.selected {
    background-color: #FFE076;
}
.type9::after{
    content: 'Скачано';
}

.typea.selected {
    background-color: #CCFFCC;
}
.typea::after{
    content: 'Заметка';
}

.typeb.selected {
    background-color: #bdbdf2;
}
.typeb::after{
    content: 'В коллекции';
}