.control_panel_container {
    position: static;
    float: right;
    width: 135px;
    margin: 0 15px 0 0;
    overflow: auto;
}

.control_panel {
    width: 135px;
    position: absolute;
}

.control_panel:hover {
    z-index: 9999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.download {
    
}

.marks {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.plate {
    padding: 2px 8px 2px 8px;
    margin-right: 4px;
    border-radius: 2px;
    color: #444;
    background-color: #fcfce8;
    width: 100%;
}

.plate:hover {
  background-color: #efefdb;
}

.marks li {
  display: none;
  height: 0;
}

.marks li.selected {
  display: block;
  height: auto;
}

.control_panel:hover .marks li {
  display: block;
  height: auto;
}

.type1.selected {
    background-color: #f2e8c9;
}
.plate.type1::after{
    content: 'Подписка';
}

.type2.selected {
    background-color: #B58290;
}
.type2::after{
    content: 'Рекомендовано';
}

.type3.selected {
    background-color: #E8F2DC;
}
.type3::after{
    content: 'Прочитано';
}

.type4.selected {
    background-color: #F0BCBA;
}
.type4::after{
    content: 'Не читать';
}

.type5.selected {
    background-color: #E4EBF1;
}
.type5::after{
    content: "Прочитать позже";
}

.type6.selected {
    background-color: #FAEAD8;
}
.type6::after{
    content: 'Жду окончания';
}

.type7.selected {
    background-color: #cee381;
}
.type7::after{
    content: 'Понравилось';
}

.type8.selected {
    background-color: #EDE5F0;
}
.type8::after{
    content: 'Не понравилось';
}

.type9.selected {
    background-color: #FFE076;
}
.type9::after{
    content: 'Скачано';
}

.typea.selected {
    background-color: #CCFFCC;
}
.typea::after{
    content: 'Заметка';
}

.typeb.selected {
    background-color: #bdbdf2;
}
.typeb::after{
    content: 'В коллекции';
}